[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jira = "*"
PyGithub = "*"
python-gitlab = "*"
toml = "*"

[dev-packages]
neovim = "*"
pyflakes = "*"
pylint = "*"
mypy = "*"

[requires]
python_version = "3.7"
